*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
config/* linguist-vendored
helpers/* linguist-vendored
node_modules/* linguist-vendored
.idea/* linguist-vendored
public/* linguist-vendored
*.handlebars linguist-language=nodejs
