<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <!-- Column -->
        <div class="container">
            <div class="card " style="height: 30rem; width: 50rem;">
                <div class="card-body">

                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Change Password:</h3>



                                <br>
                                <form class="text-white" action="/changePasswordUpdate/{{user.id}}?_method=PUT" method="post">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="form-group">
                                        <label for="password" class="col-md-12">Old Password:</label>
                                        <div class="col-md-12">
                                            <input type="password" class="form-control form-control-line bg-white"
                                                name="password">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword" class="col-md-12">New Password:</label>
                                        <div class="col-md-12">
                                            <input type="password" class="form-control form-control-line bg-white"
                                                name="newPassword">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword2" class="col-md-12">Confirm Password:</label>
                                        <div class="col-md-12">
                                            <input type="password" class="form-control form-control-line bg-white"
                                                name="newPassword2">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <button class="btn btn-danger ml-5" type="submit">Change
                                                    Password</button>
                                            <a href="/home" class="btn btn-success ml-1 float-right" role="button"
                                                    aria-disabled="true">Cancel</a>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>


                    </div>

                    
                </div>
            </div>
        </div>
    </div>





</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->

</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->